{% extends "bootstrap/base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}

    <h1>Creating note</h1>

    <form action="/add" method="post">
        <div>
            <label>Content</label>
            <div>
                <textarea class="textarea"
                        placeholder="Write your note here!"
                        name="content"
                        rows=15></textarea>
            </div>
        </div>
        <div>
            <div>
                <input
                    type="submit"
                    value="Save"/>
            </div>
        </div>
    </form>
{% endblock %}